## Preprocessing

In [23]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [24]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [25]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [26]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [27]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [28]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [29]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [30]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [31]:
#scratch work
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [32]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [33]:
# Split our preprocessed data into our features and target arrays
X = dummies.drop(columns=['IS_SUCCESSFUL'])
y = dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [34]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [57]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = X_train_scaled.shape[1]
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(21, activation='relu', input_dim=input_dim))

# Second hidden layer
nn.add(Dense(14, activation='relu'))

# Output layer
nn.add(Dense(1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 21)                1050

 dense_13 (Dense)            (None, 14)                308

 dense_14 (Dense)            (None, 1)                 15

=================================================================
Total params: 1,373
Trainable params: 1,373
Non-trainable params: 0
_________________________________________________________________

In [58]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [59]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=50, validation_split=0.2)

Epoch 1/50
644/644 [==============================] - 4s 4ms/step - loss: 0.5882 - accuracy: 0.7018 - val_loss: 0.5503 - val_accuracy: 0.7339
Epoch 2/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7253 - val_loss: 0.5488 - val_accuracy: 0.7347
Epoch 3/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7258 - val_loss: 0.5466 - val_accuracy: 0.7366
Epoch 4/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7276 - val_loss: 0.5463 - val_accuracy: 0.7359
Epoch 5/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7285 - val_loss: 0.5455 - val_accuracy: 0.7366
Epoch 6/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7288 - val_loss: 0.5450 - val_accuracy: 0.7347
Epoch 7/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7293 - val_loss: 0.5449 - val_accuracy: 0.7361
Epoch 8/50
644/644 [==============================] - 3s 4ms/step - loss: 0.5478 - accuracy: 0.7297 - val_loss: 0.5442 - val_accuracy: 0.7380
Epoch 9/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7296 - val_loss: 0.5430 - val_accuracy: 0.7362
Epoch 10/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7305 - val_loss: 0.5434 - val_accuracy: 0.7366
Epoch 11/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7307 - val_loss: 0.5438 - val_accuracy: 0.7355
Epoch 12/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7313 - val_loss: 0.5435 - val_accuracy: 0.7372
Epoch 13/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7313 - val_loss: 0.5433 - val_accuracy: 0.7372
Epoch 14/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7316 - val_loss: 0.5434 - val_accuracy: 0.7372
Epoch 15/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7307 - val_loss: 0.5427 - val_accuracy: 0.7374
Epoch 16/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7319 - val_loss: 0.5432 - val_accuracy: 0.7361
Epoch 17/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7330 - val_loss: 0.5438 - val_accuracy: 0.7355
Epoch 18/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7322 - val_loss: 0.5430 - val_accuracy: 0.7376
Epoch 19/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7322 - val_loss: 0.5433 - val_accuracy: 0.7364
Epoch 20/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7329 - val_loss: 0.5470 - val_accuracy: 0.7357
Epoch 21/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7331 - val_loss: 0.5427 - val_accuracy: 0.7361
Epoch 22/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7334 - val_loss: 0.5426 - val_accuracy: 0.7353
Epoch 23/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7327 - val_loss: 0.5446 - val_accuracy: 0.7362
Epoch 24/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7337 - val_loss: 0.5436 - val_accuracy: 0.7353
Epoch 25/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7347 - val_loss: 0.5419 - val_accuracy: 0.7364
Epoch 26/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7341 - val_loss: 0.5434 - val_accuracy: 0.7353
Epoch 27/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7340 - val_loss: 0.5426 - val_accuracy: 0.7378
Epoch 28/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7342 - val_loss: 0.5436 - val_accuracy: 0.7361
Epoch 29/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7341 - val_loss: 0.5435 - val_accuracy: 0.7364
Epoch 30/50
644/644 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7340 - val_loss: 0.5416 - val_accuracy: 0.7357
Epoch 31/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7332 - val_loss: 0.5423 - val_accuracy: 0.7362
Epoch 32/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7358 - val_loss: 0.5435 - val_accuracy: 0.7341
Epoch 33/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7349 - val_loss: 0.5437 - val_accuracy: 0.7372
Epoch 34/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7346 - val_loss: 0.5416 - val_accuracy: 0.7359
Epoch 35/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7339 - val_loss: 0.5441 - val_accuracy: 0.7331
Epoch 36/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7350 - val_loss: 0.5422 - val_accuracy: 0.7353
Epoch 37/50
644/644 [==============================] - 2s 4ms/step - loss: 0.5401 - accuracy: 0.7348 - val_loss: 0.5422 - val_accuracy: 0.7388
Epoch 38/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7350 - val_loss: 0.5426 - val_accuracy: 0.7366
Epoch 39/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7351 - val_loss: 0.5442 - val_accuracy: 0.7380
Epoch 40/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7354 - val_loss: 0.5439 - val_accuracy: 0.7368
Epoch 41/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7360 - val_loss: 0.5445 - val_accuracy: 0.7372
Epoch 42/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7357 - val_loss: 0.5457 - val_accuracy: 0.7372
Epoch 43/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7359 - val_loss: 0.5421 - val_accuracy: 0.7362
Epoch 44/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7357 - val_loss: 0.5443 - val_accuracy: 0.7359
Epoch 45/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7367 - val_loss: 0.5443 - val_accuracy: 0.7366
Epoch 46/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7370 - val_loss: 0.5460 - val_accuracy: 0.7364
Epoch 47/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7369 - val_loss: 0.5451 - val_accuracy: 0.7347
Epoch 48/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7366 - val_loss: 0.5441 - val_accuracy: 0.7368
Epoch 49/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7364 - val_loss: 0.5446 - val_accuracy: 0.7347
Epoch 50/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7374 - val_loss: 0.5434 - val_accuracy: 0.7366

In [60]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5522 - accuracy: 0.7298 - 333ms/epoch - 1ms/step
Loss: 0.552179217338562, Accuracy: 0.7297959327697754

In [61]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')